.Checkout {
    max-height: 100%;
    width: 100%;
    max-width: 750px;
    /* background-color: gray; */
    margin: 55px auto 0;
    /* border: 2px solid red; */
    padding: 0;
}
.checkImg {
    max-width: 100%;
    height: 500px;
}
.payBtn {
    background-color: #ffb842;
    padding: 5px 10px;
    border-radius: 8px;
    color: black;
    font-size: 19px;
    font-weight: 600;
    border: none;
    transition: 0.4s;
    width: 140px;
    height: 50px;
}
.payBtn:hover {
    background-color: #f1a602;
}