.cartImg {
    width: 90px;
    height: 130px;
    margin-left: -10px;
}

.cartCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 170px;
    height: 146px;
    padding: 0;
    /* border-bottom: 1px solid #dee2e6; */
    
}
.clearAllBtn {
    transition: 1s;
    background-color: rgb(228, 225, 225);
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 50px;
    text-align: center;
    width: 120px;
    height: 61px;
    font-weight: 700;
    font-size: 19px;
    border: 1px solid gray
}
.clearAllBtn:hover {
    background-color: rgb(25, 17, 17);
    color: whitesmoke;
    box-shadow: 1.4px 2.9px 2.9px hsl(0deg 0% 0% / 0.46);

}